/* Global Styles */
body, html {
  background-color: #0a192f; /* Dark Navy Blue */
  color: #ffffff; /* White text for readability */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* Utility Classes */
.text-center {
  text-align: center;
}
